<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Cadastro de Aluno</title>
</head>

<body>
	
		<h1>Cadastro de Aluno</h1>
		
		<table class="table table-dark table-striped">
		
		<form method="post">
			
			Nome: <input type="text" value="" name="nome">
			
			Idade: <input type="text" value="" name="idade">
			
			Email: <input type="text" value="" name="email">
			
			Genero: <input type="text" value="" name="genero">
			
			<button type="submit">Cadastrar</button>
		
		<form>
		
</body>
</html>