<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
<title>Listas de Aluno</title>
</head>
<body>

<h1>Lista de Despesas</h1>
		
		<table class="table table-dark table-striped">
			<thead>
				<tr>
					<th>Matricula</th>	
					<th>Nome</th>
					<th>Excluir</th>
							
				</tr>
		</thead>
		<tbody>
			<tr th:each= "aluno: ${listarAlunoNome}" >
				<td><span th:text="${aluno.matricula}"></span></td>
				<td><span th:text="${aluno.nome}"></span></td>
			</tr>
			
			<td>
				<a
				 th:href="${(#mvc.url('AC#deletarDespesa').arg(0, despesa.codigo)).build()}">
					Deletar
				</a>
			</td>
		</tbody>
		
		
		</table>
</html>